In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [9]:
data_read = pd.read_csv('data_mtcars.csv')
data_read.head(5)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
X = data_read.drop(columns=['model', 'mpg'])
y = data_read.mpg

In [11]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=4)

In [12]:
lr = LinearRegression().fit(train_X, train_y)

In [13]:
lr.score(test_X, test_y)

0.7293939619575069

In [15]:
pre_y_train = lr.predict(train_X)
pre_y_test = lr.predict(test_X)

In [17]:
print(metrics.mean_squared_error(train_y, pre_y_train))
print(metrics.mean_squared_error(test_y, pre_y_test))

1.1006762177182232
16.80152299300132